/* body {
    background-color: black;
    color: lime;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
} */

body {
    background-color: #000000;
    color: gray;
    font-family: 'Courier New', Courier, monospace;
}

h1, p {
    margin: 0;
}
p {
    white-space: pre;
}

table tr {
    text-align: left;
    margin-right: 5px;
}